
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>电商后台管理系统</title>
    <script src="~/Scripts/bootstrap/jquery-1.10.2.min.js"></script>
    <!---代码中实际部分可以抽取出来  Start--------->
    <link href="/Scripts/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/common.css" rel="stylesheet" />
    <link href="/Content/css/login.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/bootstrap/js/bootstrapValidator.js"></script>
    <link href="/Scripts/bootstrap/css/bootstrapValidator.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            //$("#ModifyTime").datetimepicker({
            //    format: 'yyyy-mm-dd', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00
            //})


            $('#getLogin').bootstrapValidator({
                // 默认的提示消息
                message: '值无效',
                // 表单框里右侧的icon
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                submitHandler: function (validator, form, submitButton) {
                    // 表单提交成功时会调用此方法
                    // validator: 表单验证实例对象
                    // form  jq对象  指定表单对象
                    // submitButton  jq对象  指定提交按钮的对象
                    //用Ajax去处理表单得添加

                    $.ajax({
                        url: "/Login/UserLogin",
                        type: "post",
                        data: $("#getLogin").serialize(),
                        success: function (data) {
                            alert(data.Message);
                            if (data.Code == 1) {
                                window.location.href = "/Index/Index"
                            }
                            else {
                                location.reload();//重新加载一次页面
                            }
                        }
                    });
                },

                fields: {
                    UserName: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                        }

                    },
                    UserPass: {
                        validators:
                        {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    }
                }
            });
        })
/**/</script>
    <!----代码中实际部分可以抽取出来 End----------->
</head>
<body>

    <!--登录容器-->
    <div class="loginTop">
        <h4>电商后台管理系统</h4>
    </div>
    <div class="loginCenter">
        <div class="container loginarea">
            <div class="loginLogo">
                <img src="/Content/images/bwlogo.jpg" /><span>物联网工程学院-电商后台管理系统</span>
            </div>
            <form role="form" id="getLogin">
                <!--电商的Logo 以八维Logo开始-->

                <div class="form-group">

                    <input type="text" class="form-control" name="UserName" id="UserName" placeholder="账号">
                </div>
                <div class="form-group">

                    <input type="password" class="form-control" name="UserPass" id="Password" placeholder="密码">
                </div>
                <div class="form-group">

                    <input type="text" class="form-control validateCode" name="ValidateCode" id="ValidateCode" placeholder="请输入验证码">
                    <img src="/ValidateCode.ashx/" class="valiedateCodeImage" onclick="this.src = '/ValidateCode.ashx/?q=' + Math.random()" />
                </div>
                <button type="submit" class="btn btn-primary btnLen" >登录</button>
            </form>

        </div>

    </div>
    <div class="loginBottom">
        <dt>
            <dl>技术支持:物联网工程学院教研组</dl>
        </dt>

    </div>

</body>

</html>
