.header
{
   height:84px;
   background-color: rgb(255, 255, 255);
   border-bottom: 5px solid rgb(35, 142, 240);

}
.headerLeft
{
  height: 79px;
  float: left;
  


}
.headerCenter
{
     float: left;
     height: 69px;
     margin-left: 10px;
     padding-top: 10px;
     color: rgb(35, 142, 240);
   
}
.headerRight
{
   float: right;
   height: 79px;
   width: 220px;
  
}
.headerRight span:first-child
{
   
   width: 150px;
   height: 40px;

   margin-top: 39px;
   line-height: 40px;
   float: left;
   text-align: right;
  

}
.headerRight span:last-child
{
   
   width: 60px;
   height: 40px;

   margin-top: 39px;
   margin-left: 10px;
   line-height: 40px;
   float: right;
   text-align: left;
  

}
.header img
{

  height: 79px;
 
  
}

/*高度根据JS自动计算*/
.menuLeft
{
   width: 13%;
   background-color: rgb(241, 241, 241);
   border: 1px solid rgb(205, 205, 205);
   overflow-y:hidden;
   float: left;
}
ul
{
   list-style: none;
}
.menuLeft ul li
{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid rgb(203, 203, 203);
  color: black;
  font-size: 14px;
  font-family: "宋体";

}
.menuLeft ul li:hover
{
   cursor: pointer;
}
.menuRight
{
  float: left;
  width: 87%;
}
.contentCenter
{
     padding-top: 5px;
     padding-left: 5px;
}
.menuRight .contentFooter h4
{ 
    text-align: center;
    height: 20px;
    border-top: 1px solid rgb(203, 203, 203);
    line-height: 20px;
   overflow: hidden;
   font-size: 14px;
}
/*
  设置左侧菜单选中的颜色
*/
.active
{
    background-color: rgb(129, 192, 235);

}
